# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\fuxin_healthy\FX_project\video_demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
